
@{
    ViewBag.Title = "Index1111";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<header>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link href="~/CSS/homepage(CDN).css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" />

</header>




    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
<div class="container"style="padding-left:0px">
            <br />
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0"
                        class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="https://vus.edu.vn/media/237939/home-banner-1450x500px.jpg?anchor=center&mode=crop&width=1920&height=724&rnd=132339245520000000&upscale=false&bgcolor=fff&fbclid=IwAR26Z2Id3ja5trWuO54DqBdBTRqrAW4ktUDPujGwpNTnt-bqpc5YmCFEM-w" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="https://vus.edu.vn/media/305334/web-banner3.jpg?anchor=center&mode=crop&width=1920&height=724&rnd=132338519790000000&upscale=false&bgcolor=fff&fbclid=IwAR3zRJ-EoPBLJoNbpEHy39hvmicaslwmT6fFE7e1dyrcsVU8QuSYm9oLvdg" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="https://vus.edu.vn/media/305319/website-banner.jpg?anchor=center&mode=crop&width=1920&height=724&rnd=132330677000000000&upscale=false&bgcolor=fff&fbclid=IwAR26Z2Id3ja5trWuO54DqBdBTRqrAW4ktUDPujGwpNTnt-bqpc5YmCFEM-w" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>

                    <div class="item">
                        <img src="https://vus.edu.vn/media/305335/web-banner1.jpg?anchor=center&mode=crop&width=1920&height=724&rnd=132338519680000000&upscale=false&bgcolor=fff&fbclid=IwAR1rn_264nvZGI6F7umHTydLeI7As4Qk4iMIsws35wSdEsLKWRqf6VDuykA" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.15752-9/83789165_3293500950680947_5515269746714310281_n.png?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=9RP7jdgzpDUAX8M44Hs&_nc_ht=scontent.fsgn2-5.fna&oh=30b0be2409c2dec2aa54444fddda5efa&oe=5F0AD15A" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <hr>
            <div class="container-fluid padding">


                <div class="row welcome text-center">
                    <h2 class="header animated infinite animate__headShake delay-1s">VÌ SAO CHỌN G11</h2>
                    <hr>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">

                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">

                        <div class="thumbnail" style="background-image: url('https://i.pinimg.com/736x/1f/a5/eb/1fa5eb16020bb5894ab19750a3192093.jpg'); color: white ">
                            <div class="row">
                                <div class="S1 col-sm-3">
                                    <h1 class="Foreign">3256</h1>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <p class="Foreigntext">
                                        Foreign Follower
                                    </p>
                                </div>
                                <div class="S2 col-sm-3">
                                    <h1 class="Students">4256</h1>
                                    <i class="fas fa-user-graduate"></i>
                                    <p class="Studentstext">
                                        Students Enrolled
                                    </p>
                                </div>
                                <div class="S3 col-sm-3">
                                    <h1 class="Classes">5256</h1>
                                    <i class="fas fa-school"></i>
                                    <p class="Classestext">
                                        Classes Complete
                                    </p>
                                </div>
                                <div class="S4 col-sm-3">
                                    <h1 class="Certified">7256</h1>
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <p class="Certifiedtext">
                                        Certified Teachers
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="vett"></a>
            <div class="container">
                <div class="row text-center">
                    <div>

                        <h2 class="header animated infinite animate__headShake delay-1s">VỀ TRUNG TÂM</h2>
                        <hr>
                    </div>

                    <div class="col-sm-6" style="text-align:center">
                        <h4>ĐIỂM IELTS TRUNG BÌNH CỦA CÁC HỌC VIÊN TẠI TRUNG TÂM GENERAL 11</h4>
                        <p>Quý 1 năm 2020 vừa qua,những học viên cuối cùng của trung tâm GENERAL 11 cũng đã nhận được kết quả điểm thi IELTS tháng 4.Kết quả đạt được không phụ lòng mong đợi và sự cố gắng của ...</p>
                        <a href="#">Xem thêm</a>
                    </div>

                    <div class="col-sm-6">
                        <iframe src="https://www.youtube.com/embed/ELf4BaSzbj4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
            <a id="vegv"></a>
            <div class="container">
                <div class="row text-center">


                    <h2 class="header animated infinite animate__headShake delay-1s">ĐỘI NGŨ GIẢNG VIÊN</h2>
                    <hr>
                    <div class="col-sm-6 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-thumbnail img-responsive" src="https://images.unsplash.com/photo-1580894732444-8ecded7900cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" />
                                <div class="caption">
                                    <h4>
                                        Mr. John
                                    </h4>
                                    <p>
                                        Giảng viên tiếng anh giao tiếp tại G11. Với kinh nghiệm 2 năm gia sư Tiếng Anh tại nhà cùng với 1 năm kinh nghiệm giảng dạy tại các trung tâm Anh ngữ khác. Mr.John cho biết giảng dạy Tiếng Anh không chỉ là công việc mà còn là niềm đam mê trong cuộc sống.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-thumbnail img-responsive" src="https://images.unsplash.com/photo-1551862253-ccddd3b67769?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" />
                                <div class="caption">
                                    <h4>
                                        Mr. Henry
                                    </h4>
                                    <p>
                                        Với kinh nghiệm 5 năm giảng dạy tiếng anh tại các trung tâm Anh ngữ tại Hà Nội, Mr.Henry mong muốn trở thành một giáo viên ưu tú và đào tạo những thế hệ học viên chất lượng, đáp ứng đầy đủ những tố chất của một công dân toàn cầu.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-thumbnail img-responsive" src="https://images.unsplash.com/photo-1561677843-39dee7a319ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" />
                                <div class="caption">
                                    <h4>
                                        Mrs.Jessica
                                    </h4>
                                    <p>
                                        Hoàn thành xuất sắc hai chương trình đào tạo đại học chính quy chuyên ngành Ngôn Ngữ Anh và chuyên ngành Kinh tế Quốc tế tại trường Melbourne và đã có hơn 3 năm kinh nghiệm đào tạo Tiếng Anh cho mọi lứa tuổi học sinh, sinh viên từ cấp độ dễ tới khó.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="vehv"></a>
            <div class="container">
                <div class="row text-center">


                    <h2 class="header animated infinite animate__headShake delay-1s">THÀNH TÍCH HỌC VIÊN</h2>
                    <hr>
                    <div class="col-sm-4 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-responsive img-circle" src="https://images.unsplash.com/photo-1514369118554-e20d93546b30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" width="304" height="236" />

                                <div class="caption">
                                    <h4>
                                        780/990
                                    </h4>
                                    <p>
                                        Nguyễn Hải An
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-responsive img-circle" src="https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="" width="304" height="236" />

                                <div class="caption">
                                    <h4>
                                        800/990
                                    </h4>
                                    <p>
                                        Trần Thanh Trúc
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-responsive img-circle" src="https://images.unsplash.com/photo-1461039088886-b5c863279a0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=2&auto=format&fit=crop&w=200&q=60&crop=entropy" alt="" width="304" height="236" />

                                <div class="caption">
                                    <h4>
                                        780/990
                                    </h4>
                                    <p>
                                        Võ Huyền My
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-responsive img-circle" src="https://images.unsplash.com/photo-1507207908229-c59ddb730e40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" width="304" height="236" />

                                <div class="caption">
                                    <h4>
                                        810/990
                                    </h4>
                                    <p>
                                        Dương Minh
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-responsive img-circle" src="https://images.unsplash.com/photo-1571260899304-425eee4c7efc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" width="304" height="236" />

                                <div class="caption">
                                    <h4>
                                        6.5/9.0
                                    </h4>
                                    <p>
                                        Nguyễn Hải Yến
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="row">
                            <div class="thumbnail">
                                <img class="img-responsive img-circle" src="https://images.unsplash.com/photo-1473492201326-7c01dd2e596b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60g" alt="" width="304" height="236" />

                                <div class="caption">
                                    <h4>
                                        7.0/9.0
                                    </h4>
                                    <p>
                                        Trần Thanh Toàn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row text-left">

                    <h2 class="header animated infinite animate__headShake delay-1s" style="text-align:center">
                        HỌC VIÊN NÓI GÌ?
                    </h2>
                    <hr />

                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <p>
                            <img class=" img-circle" src="https://images.unsplash.com/photo-1556221157-c8f66699e7fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" width="40" height="33" />
                            Vũ Huy Hoàng
                        </p>
                        <span class="pull-right">1 day ago</span>
                        <p>From <em>United States</em></p>
                        <p>
                            "Tại G11, giáo viên được tuyển chọn kỹ lưỡng, đảm bảo chất lượng giảng dạy, nhiều cấp độ dành cho mọi độ tuổi, giúp mình tiếng Anh xuyên suốt. Mình rất hài lòng khi thấy sau 1 thời gian đã tiến bộ vượt bậc, đạt kết quả cao trong các kỳ thi Anh ngữ.."
                        </p>
                    </div>

                    <hr>

                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <p>
                            <img class=" img-circle" src="https://images.unsplash.com/photo-1521702813222-1943f3fb9c07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" width="40" height="33" />
                            Mai Thành Đạt
                        </p>
                        <span class="pull-right">1 day ago</span>
                        <p>From <em>Việt Nam</em></p>
                        <p>
                            "Gia đình mình có dự định sang Mỹ nên đầu tư tiếng Anh cho mình từ rất sớm. Mình đã chọn G11 vì được bạn bè, đồng nghiệp giới thiệu. Sau 1 thời gian cảm thấy rất hiệu quả, thường đứng hạng nhất môn tiếng Anh ở trường.."
                        </p>
                    </div>

                    <hr />

                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <p>
                            <img class=" img-circle" src="https://images.unsplash.com/photo-1564057600948-aff98f958d55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" width="40" height="33" />
                            Dương Mai
                        </p>
                        <span class="pull-right">1 day ago</span>
                        <p>From <em>Việt Nam</em></p>
                        <p>
                            "Thầy cô tại G11 rất biết cách truyền cảm hứng để mọi người luôn thấy mình được nghe nói tiếng Anh liên tục. Học viên được khuyến khích nói và đừng sợ sai, thầy cô luôn sẵn sàng chỉnh sửa để mình nói chuẩn và rõ ràng hơn.."
                        </p>
                    </div>

                    <hr />

                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <p>
                            <img class=" img-circle" src="https://images.unsplash.com/photo-1561409625-df3c51c39c2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" width="40" height="33" />
                            Hà Việt Hoàng
                        </p>
                        <span class="pull-right">1 day ago</span>
                        <p>From <em>Việt Nam</em></p>
                        <p>
                            "Giáo viên thường chỉ ra được những lỗi sai trong phát âm người Việt hay mắc phải. Chủ đề học đa dạng và được luyện tập nhiều giúp em tăng độ phản xạ khi bước ra giao tiếp ngoài thực tế. Với chi phí hợp lý, em rất hài lòng về lựa chọn học tại đây.."
                        </p>
                    </div>

                    <hr />

                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <p>
                            <img class=" img-circle" src="https://images.unsplash.com/photo-1512813498716-3e640fed3f39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" width="40" height="33" />
                            Trần Thủy Tiên
                        </p>
                        <span class="pull-right">1 day ago</span>
                        <p>From <em>Việt Nam</em></p>
                        <p>
                            "Từ khi học G11, mình thấy tự tin hơn trong giao tiếp vì có nhiều cơ hội trò chuyện với thầy cô người nước ngoài. Vì là thầy cô bản ngữ nên luôn được chỉnh sửa khi có lỗi phát âm, điều này giúp mình rèn luyện được cách phát âm của mình và nói tốt hơn rất nhiều."
                        </p>
                    </div>

                    <hr />
                </div>
                <div class="well">
                    <div class="row">
                        <input type="text" class="form-control"
                               id="myAddress" placeholder="1234 Main St">
                        <a class="btn btn-success">Gửi</a>

                    </div>
                </div>


            </div>


            <div class="container text-center">
                <div class="row welcome ">
                    <h2 class="header animated infinite animate__headShake delay-1s">LỊCH KHAI GIẢNG</h2>
                    <hr class="my-4" />
                    <table>
                        <thead>
                            <tr>
                                <th>Khóa học</th>
                                <th>Mã khóa hoc</th>
                                <th>Dự kiến khai giảng</th>
                                <th>Thời gian</th>
                                <th>Lịch học</th>
                                <th>Số buổi</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IELTS</td>
                                <td>abc</td>
                                <td>08/05/2020</td>
                                <td>Sáng</td>
                                <td>Thứ 2,4,6</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>IELTS</td>
                                <td>xyz</td>
                                <td>20/8/2020</td>
                                <td>Tối</td>
                                <td>Thứ3,5,7</td>
                                <td>30</td>

                            </tr>
                            <tr>
                                <td>IELTS</td>
                                <td>scd</td>
                                <td>07/1/2024</td>
                                <td>Tối</td>
                                <td>Thứ 7,CN</td>
                                <td>35</td>

                            </tr>
                            <tr>
                                <td>
                                    GIAO TIẾP
                                </td>
                                <td>sct</td>
                                <td>25/1/2030</td>
                                <td>Tối</td>
                                <td>Thứ 3,5,7</td>
                                <td>19</td>

                            </tr>
                            <tr>
                                <td>CHO NGƯỜI ĐI LÀM</td>
                                <td>scd</td>
                                <td>5/5/5555</td>
                                <td>Tối</td>
                                <td>Thứ2,4,6</td>
                                <td>92</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <h2 class="header animated infinite animate__headShake delay-1s text-center">ĐĂNG KÝ NHẬN TƯ VẤN</h2>
                    <hr>
                    <div class="container-fluid mt-3">
                        <form>

                            <div class="form-group">
                                <label for="inputAddress">Họ & Tên</label>
                                <input type="text" class="form-control"
                                       placeholder="Nguyễn Văn A">
                            </div>
                            <div class="form-group">
                                <label for="myEmail">Email</label>
                                <input type="email" class="form-control"
                                        id="myEmail" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Số Điện Thoại</label>
                                <input type="text" class="form-control"
                                       placeholder="0123456789">
                            </div>

                            <div class="form-group">
                                <label for="myState">Tỉnh/Thành Phố</label>
                                <select id="myState" class="form-control">
                                    <option selected>Hồ Chí Minh</option>
                                    <option>Đà Nẵng</option>
                                    <option>Hà Nội</option>
                                    <option>Bình Dương</option>
                                    <option>Cần Thơ</option>
                                </select>
                            </div>


                            <div>
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </div>
                        </form>
                    </div>





                </div>
            </div>
        </div>
        </div>
    </div>
