
@{
    ViewBag.Title = "TKB";
    Layout = "~/Views/Shared/_Layout_HV.cshtml";
}
<header>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</header>
<script src="~/CSS/scripts.js"></script>
<div class="container">
    <div class="row welcome ">
        <h2 class="display-4 text-center">Khóa học Toeic</h2>
        <hr class="my-4" />
        <table style="border:double;">
            <thead>
                <tr>
                    <th>Khóa học</th>
                    <th>Mã khóa hoc</th>
                    <th>Dự kiến khai giảng</th>
                    <th>Thời gian</th>
                    <th>Lịch học</th>
                    <th>Số buổi</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Toeic</td>
                    <td>abc</td>
                    <td>08/05/2020</td>
                    <td>Sáng</td>
                    <td>Thứ 2,4,6</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Toeic</td>
                    <td>xyz</td>
                    <td>20/8/2020</td>
                    <td>Tối</td>
                    <td>Thứ3,5,7</td>
                    <td>30</td>

                </tr>
                <tr>
                    <td>Toeic</td>
                    <td>scd</td>
                    <td>07/1/2024</td>
                    <td>Tối</td>
                    <td>Thứ 7,CN</td>
                    <td>35</td>

                </tr>
                <tr>
                    <td>
                        Toeic
                    </td>
                    <td>sct</td>
                    <td>25/1/2030</td>
                    <td>Tối</td>
                    <td>Thứ 3,5,7</td>
                    <td>19</td>

                </tr>
                <tr>
                    <td>Toeic</td>
                    <td>scd</td>
                    <td>5/5/5555</td>
                    <td>Tối</td>
                    <td>Thứ2,4,6</td>
                    <td>92</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>






<div class="container">
    <div class="row welcome ">
        <h2 class="display-4 text-center">Khóa học Ielts</h2>
        <hr class="my-4" />
        <table style="border:double;">
            <thead>
                <tr>
                    <th>Khóa học</th>
                    <th>Mã khóa hoc</th>
                    <th>Dự kiến khai giảng</th>
                    <th>Thời gian</th>
                    <th>Lịch học</th>
                    <th>Số buổi</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IELTS</td>
                    <td>abc</td>
                    <td>08/05/2020</td>
                    <td>Sáng</td>
                    <td>Thứ 2,4,6</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>IELTS</td>
                    <td>xyz</td>
                    <td>20/8/2020</td>
                    <td>Tối</td>
                    <td>Thứ3,5,7</td>
                    <td>30</td>

                </tr>
                <tr>
                    <td>IELTS</td>
                    <td>scd</td>
                    <td>07/1/2024</td>
                    <td>Tối</td>
                    <td>Thứ 7,CN</td>
                    <td>35</td>

                </tr>
                <tr>
                    <td>
                        Ielts
                    </td>
                    <td>sct</td>
                    <td>25/1/2030</td>
                    <td>Tối</td>
                    <td>Thứ 3,5,7</td>
                    <td>19</td>

                </tr>
                <tr>
                    <td>Ielts</td>
                    <td>scd</td>
                    <td>5/5/5555</td>
                    <td>Tối</td>
                    <td>Thứ2,4,6</td>
                    <td>92</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="container">
    <div class="row welcome ">
        <h2 class="display-4 text-center">Khóa học giao tiếp</h2>
        <hr class="my-4" />
        <table style="border:double;">
            <thead>
                <tr>
                    <th>Khóa học</th>
                    <th>Mã khóa hoc</th>
                    <th>Dự kiến khai giảng</th>
                    <th>Thời gian</th>
                    <th>Lịch học</th>
                    <th>Số buổi</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cơ bản</td>
                    <td>abc</td>
                    <td>08/05/2020</td>
                    <td>Sáng</td>
                    <td>Thứ 2,4,6</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Cho người mất gốc</td>
                    <td>xyz</td>
                    <td>20/8/2020</td>
                    <td>Tối</td>
                    <td>Thứ3,5,7</td>
                    <td>30</td>

                </tr>
                <tr>
                    <td>Cho người đi làm</td>
                    <td>scd</td>
                    <td>07/1/2024</td>
                    <td>Tối</td>
                    <td>Thứ 7,CN</td>
                    <td>35</td>

                </tr>
                <tr>
                    <td>
                        Cơ bản
                    </td>
                    <td>sct</td>
                    <td>25/1/2030</td>
                    <td>Tối</td>
                    <td>Thứ 3,5,7</td>
                    <td>19</td>

                </tr>
                <tr>
                    <td>Cho người đi làm</td>
                    <td>scd</td>
                    <td>5/5/5555</td>
                    <td>Tối</td>
                    <td>Thứ2,4,6</td>
                    <td>92</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container center">
    <div class="row">
        <h2 class="header animated infinite animate__headShake delay-1s text-center">ĐĂNG KÝ NHẬN TƯ VẤN</h2>
        <hr>
        <div class="container-fluid mt-3">
            <form>

                <div class="form-group">
                    <label for="inputAddress">Họ & Tên</label>
                    <input type="text" class="form-control"
                           placeholder="Nguyễn Văn A">
                </div>
                <div class="form-group">
                    <label for="myEmail">Email</label>
                    <input type="email" class="form-control"
                            id="myEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Số Điện Thoại</label>
                    <input type="text" class="form-control"
                           placeholder="0123456789">
                </div>

                <div class="form-group">
                    <label for="myState">Tỉnh/Thành Phố</label>
                    <select id="myState" class="form-control">
                        <option selected>Hồ Chí Minh</option>
                        <option>Đà Nẵng</option>
                        <option>Hà Nội</option>
                        <option>Bình Dương</option>
                        <option>Cần Thơ</option>
                    </select>
                </div>


                <div>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </form>
        </div>





    </div>
</div>

